block settings
	- var title = "Doing a budget"
	- var sectionTitle = "Bills"
	//- var sidebar = true
	//- var toolbars = true
	//- var cookiemonster = true
	- var mockup = true

extends ../template/template.jade

block breadcrumbs
	+breadcrumbs([
		{title: "Home", href: "index.html"},
		{title: "Doing a budget", href: "index.html"},
		{title: sectionTitle}])

block script
	script.
		$(document).ready(function() {

			$('input[name="package"]').bind('change',function(){
				var showOrHide = ($(this).val() == 1) ? true : false;
				$('#package').toggle(showOrHide);
				var showOrHide = ($(this).val() == 2) ? true : false;
				$('#non-package').toggle(showOrHide);
			});

			/*var fields = [];
			fields.push([
				"Rent or mortgage",
				""
			]);
			fields.push([
				"Council Tax / Rates",
				""
			]);
			fields.push([
				"Building and contents insurance",
				""
			]);
			fields.push([
				"Gas and electricity",
				""
			]);
			fields.push([
				"Water",
				""
			]);
			fields.push([
				"TV license",
				""
			]);
			fields.push([
				"Phone, TV and internet",
				""
			]);

			$.each(fields, function( index, value ) {
				$("#select").append('<option data-id="'+index+'">'+value[0]+'</option>');

				
				// Uncomment this to populate the page without add/remove functionality
				if (value[1] === "" || value[1] == null) {
					$("#fields-body").append('<fieldset><label for="field'+index+'">'+value[0]+'</label><div class="field-group field-group--dropdown"><input type="text" id="field'+index+'" placeholder="£" /><div class="dropdown"><select id="select'+index+'"><option>Weekly</option><option>Monthly</option><option>Yearly</option></select></div></div></fieldset>');
				} else {
					$("#fields-body").append('<fieldset><label for="field'+index+'">'+value[0]+'</label><span class="form-hint">'+value[1]+'</span><div class="field-group field-group--dropdown"><input type="text" id="field'+index+'" placeholder="£" /><div class="dropdown"><select id="select'+index+'"><option>Weekly</option><option>Monthly</option><option>Yearly</option></select></div></div></fieldset>');
				}
				$('#add-more').hide();
				
			});

			$("#addField").click(function(e){
				e.preventDefault();

				var dataId = $('#fieldOptions').find(':selected').data("id");
				$('#fieldOptions option[data-id="'+dataId+'"]').remove();

				if (fields[dataId][1] === "" || fields[dataId][1] == null) {
					$("#fields-body").append('<fieldset><label for="field'+dataId+'">'+fields[dataId][0]+'<a class="remove-field remove u-pull-right" data-id="'+dataId+'">Remove</a></label><div class="field-group field-group--dropdown"><input type="text" id="field'+dataId+'" placeholder="£" /><div class="dropdown"><select id="select'+dataId+'"><option>Weekly</option><option>Monthly</option><option>Yearly</option></select></div></div></fieldset>');
				} else {
					$("#fields-body").append('<fieldset><label for="field'+dataId+'">'+fields[dataId][0]+'<a class="remove-field remove u-pull-right" data-id="'+dataId+'">Remove</a></label><span class="form-hint">'+fields[dataId][1]+'</span><div class="field-group field-group--dropdown"><input type="text" id="field'+dataId+'" placeholder="£" /><div class="dropdown"><select id="select'+dataId+'"><option>Weekly</option><option>Monthly</option><option>Yearly</option></select></div></div></fieldset>');
				}
				
				var optionCount = $('#select option').length;
				if (optionCount < 1) {
					$('#add-more').hide();
				}
			});

			$("#fields-body").on("click",".remove-field", function(e){
				e.preventDefault();

				var thisId = $(this).data("id");
				$(this).parent().parent('fieldset').remove();
				$("#select").append('<option data-id="'+thisId+'">'+fields[thisId][0]+'</option>');

				var optionCount = $('#select option').length;
				if (optionCount > 0) {
					$('#add-more').show();
				}
			})*/

		});

block section-notice
	aside.section-notice
		h2.screenreader Notice
		.section-notice__content
			p #[span.badge NEW] This page is part of #[a(href="#") our new approach to digital advice].
				
block content
	.articleContent
		.main-content__right
			h2(style="margin-top: 0;") #{sectionTitle}

			#fields-body
				p Enter the amount you spend on these bills 
				
				fieldset
					label(for="field-1") Rent or mortgage
					.field-group.field-group--dropdown(style="clear:both")
						input#field-1(placeholder="£", type="number")
						.dropdown
							select#select-1
								option Weekly
								option Monthly
								option Yearly
				
				fieldset
					label(for="field-2") Council Tax / Rates
					.field-group.field-group--dropdown(style="clear:both")
						input#field-2(placeholder="£", type="number")
						.dropdown
							select#select-2
								option Weekly
								option Monthly
								option Yearly
				
				fieldset
					label(for="field-3") Building and contents insurance
					.field-group.field-group--dropdown(style="clear:both")
						input#field-3(placeholder="£", type="number")
						.dropdown
							select#select-3
								option Weekly
								option Monthly
								option Yearly
				
				fieldset
					label(for="field-4") Gas and electricity
					.field-group.field-group--dropdown(style="clear:both")
						input#field-4(placeholder="£", type="number")
						.dropdown
							select#select-4
								option Weekly
								option Monthly
								option Yearly
				
				fieldset
					label(for="field-5") Water
					.field-group.field-group--dropdown(style="clear:both")
						input#field-5(placeholder="£", type="number")
						.dropdown
							select#select-5
								option Weekly
								option Monthly
								option Yearly
				
				fieldset
					label(for="field-6") TV licence
					.field-group.field-group--dropdown(style="clear:both")
						input#field-6(placeholder="£", type="number")
						.dropdown
							select#select-6
								option Weekly
								option Monthly
								option Yearly
				fieldset
					label(for="toggle") Phone, TV and internet
					label#package-toggle.radio.radio--inline
						input(name="package", type="radio", value="1")
						| I have a package deal
					label#non-package-toggle.radio.radio--inline
						input(name="package", type="radio", value="2")
						| I pay for them separately
				

					#package.field-group.field-group--dropdown(style="clear:both;display:none")
						input#field-package(placeholder="£", type="number")
						.dropdown
							select#select-package
								option Weekly
								option Monthly
								option Yearly
				
				#non-package(style="display:none")
					fieldset
						label(for="field-7") Home phone
						.field-group.field-group--dropdown(style="clear:both")
							input#field-7(placeholder="£", type="number")
							.dropdown
								select#select-7
									option Weekly
									option Monthly
									option Yearly

					fieldset
						label(for="field-8") TV subscription (eg Sky)
						.field-group.field-group--dropdown(style="clear:both")
							input#field-8(placeholder="£", type="number")
							.dropdown
								select#select-8
									option Weekly
									option Monthly
									option Yearly

					fieldset
						label(for="field-9") Internet
						.field-group.field-group--dropdown(style="clear:both")
							input#field-9(placeholder="£", type="number")
							.dropdown
								select#select-9
									option Weekly
									option Monthly
									option Yearly

					fieldset
						label(for="field-10") Mobile phone (if PAYG please estimate)
						.field-group.field-group--dropdown(style="clear:both")
							input#field-10(placeholder="£", type="number")
							.dropdown
								select#select-10
									option Weekly
									option Monthly
									option Yearly

			//fieldset
				#add-more.field-group.well
					label(style="display:block;") Add an item
					.field#fieldOptions
						.dropdown(style="width:100%;")
							select#select

					.function
						button#addField.btn.btn-success.plus-button-icon(type="button") Add

			a(href="benefits.html", style="border: none;")
				button.btn.btn-primary-light.left-button-icon(type="button") Previous
			a(href="household.html", style="border: none;")
				button.btn.btn-primary.right-button-icon(type="button") Next

		include sidebar.jade