block settings
	- var title = "Budgeting Tool"
	//- var sidebar = true
	//- var toolbars = true
	//- var cookiemonster = true
	- var mockup = true

extends ../template/template.jade

block breadcrumbs
	+breadcrumbs([
		{title: "Home", href: "index.html"}, 
		{title: "Templates", href: "index.html#templates"},
		{title: "Budgeting Tool"}])

block script
	script.
		$(document).ready(function() {
			var fieldTitles = [
				"Housing benefit",
				"Child benefit",
				"Disability Living Allowance",
				"Incapacity Benefit",
				"Jobseeker's Allowance",
				"Council Tax Benefit",
				"Statutory Maternity Pay",
				"Carer's Allowance"
			];
			$.each(fieldTitles, function( index, value ) {
				$("#select").append('<option data-id="'+index+'">'+value+'</option>');
			});
			
			/*var i = $('#fields-body fieldset').size();
			
			$('#addField').click(function() {
				$('<fieldset><label for="field'+i+'">'+fieldTitles[i]+'<a class="remove-field remove u-pull-right">Remove</a></label><div class="field-group field-group--dropdown"><input type="text" id="field'+i+'" placeholder="£" /><div class="dropdown"><select id="select'+i+'"><option>Weekly</option><option>Monthly</option><option>Yearly</option></select></div></div></fieldset>').appendTo('#fields-body');
				i++;
				return false;
			});
			
			$('.remove-field').click(function() {
				//$(this).parent().parent().remove();
				//return false;
				console.log
			});*/

			var wrapper = $("#fields-body");
			var i = 0;
			$("#addField").click(function(e){
				e.preventDefault();
				if(i < fieldTitles.length){
					$(wrapper).append('<fieldset><label for="field'+i+'">'+fieldTitles[i]+'<a class="remove-field remove u-pull-right">Remove</a></label><div class="field-group field-group--dropdown"><input type="text" id="field'+i+'" placeholder="£" /><div class="dropdown"><select id="select'+i+'"><option>Weekly</option><option>Monthly</option><option>Yearly</option></select></div></div></fieldset>');
					i++;
				}
			});

			$(wrapper).on("click",".remove-field", function(e){
				e.preventDefault();
				$(this).parent().parent('fieldset').remove();
			})
		});

block section-notice
	aside.section-notice
		h2.screenreader Notice
		.section-notice__content
			p #[span.badge NEW] This page is part of #[a(href="#") our new approach to digital advice].
				
block content
	.articleContent
		.main-content__right
			h2(style="margin-top: 0;") Income - Benefits

			#fields-body

			fieldset
				
				.field-group.well
					label(for="addbenefit", style="display:block;") Add another benefit
					.field
						.dropdown(style="width:100%;")
							select#select

					.function
						button#addField.btn.btn-success.plus-button-icon(type="button") Add

			button.btn.btn-primary-light.left-button-icon(type="button") Income
			button.btn.btn-primary.right-button-icon(type="button") Household

		nav.side-nav-beta.tools
			ul
				li.side-nav-beta__heading.-active.-open
					a
						span Budgeting tool
				li
					ul
						li.side-nav-beta__sibling.-visited
							a(href="#") Start
						li.side-nav-beta__sibling.-current
							a(href="#") Income
						li.side-nav-beta__sibling
							a(href="#") 1. Bills
						li.side-nav-beta__sibling
							a(href="#") 2. Household
						li.side-nav-beta__sibling
							a(href="#") 3. Leisure
						li.side-nav-beta__sibling
							a(href="#") 4. Travel
						li.side-nav-beta__sibling
							a(href="#") 5. Car
						li.side-nav-beta__sibling
							a(href="#") 6. Child
						li.side-nav-beta__sibling
							a(href="#") 7. Family
						li.side-nav-beta__sibling
							a(href="#") 8. Debt
						li.side-nav-beta__sibling
							a(href="budgeting-tool-results.html") Results