nav.side-nav-beta.tools
	ul
		li.side-nav-beta__heading.-active.-open
			a
				span Budgeting tool
		li
			ul
				li.side-nav-beta__sibling.-current
					a(href="#") Income
				li.side-nav-beta__sibling
					a(href="#") Bills
				li.side-nav-beta__sibling
					a(href="#") Household
				li.side-nav-beta__sibling
					a(href="#") Leisure
				li.side-nav-beta__sibling
					a(href="#") Travel
				li.side-nav-beta__sibling
					a(href="#") Car
				li.side-nav-beta__sibling
					a(href="#") Child
				li.side-nav-beta__sibling
					a(href="#") Family
				li.side-nav-beta__sibling
					a(href="budgeting-tool-results.html") Results