block settings
	- var title = "Claiming ESA (filling in the ESA1 form)"
	- var sidebar = true
	- var toolbars = true
	- var mockup = true

extends ../template/template.jade

block breadcrumbs
	+breadcrumbs([
		{title: "ESA", href: "./"}, 
		{title: "Help with your ESA claim", href: "./"}, 
		{title: "Claiming ESA (filling in the ESA1 form)"}])

block sidebar
	- var section = "Help with your ESA claim"
	+sidebar([
		{title: "Claiming ESA (filling in the ESA1 form)", href: "claiming-esa.html"},
		{title: "Filling in the ESA50 form about your health and ability", href: "filling-in-esa50.html"},
		{title: "Preparing for your ESA medical assessment", href: "preparing-esa.html"},
		{title: "Getting your ESA decision after the assessment", href: "esa-decision.html"},
		{title: "What to do if you're not awarded ESA", href: "not-awarded-esa.html"}
		],0)

block section-notice
	aside.section-notice
		h2.screenreader Notice
		.section-notice__content
			p #[span.badge NEW] This page is part of #[a(href="#") our new approach to digital advice].
				
block content
	.articleContent
		div
			h2 How long it takes to claim ESA

			p Applying for ESA takes quite a long time. From start to finish, it can take up to a year to get a final decision.

			h3 Getting money straight away

			p If this is the first time you’ve applied for ESA, you’ll get some money straight away if the Department for Work and Pensions (DWP) thinks you’re likely to be eligible for ESA when you first apply . You’ll have to send a sicknote from your GP with your claim form to show that you’re not fit for work. Even if the DWP eventually decides you won’t get ESA, you won’t have to pay that money back.

			p You should get the first payment into your bank or building society account within 3 weeks.

			h3 If you're getting statutory sick pay

			p If you’re getting Statutory Sick Pay, you can fill in the ESA claim form up to 3 months before it's due to finish. This will help you get your ESA money quicker. You’ll need to get your employer to fill in form SSP1.

			p 
				a Download the SSP1 form PDF.

			h2 How to claim ESA

			p There are 3 stages to applying for ESA:
			ol 
				li 1. Fill in the claim form (called ESA1) - everyone has to do this.
				li 2. Complete a questionnaire about your health and abilities (called ESA50) - most people have to do this.
				li 3. Go to a medical assessment with a healthcare practitioner - most people have to do this.

			p There can be a gap of several weeks, or even months, between each stage of the process.

			.callout--warning
				h3 Warning
				p If you don’t return your ESA50 form or attend your medical assessment, you’ll be considered fit for work. You won’t be able to make another claim for ESA unless you have a different or deteriorating condition.

			h2 Fill in the claim form (ESA1)

			p You can start your ESA claim:
			ul
				li by phone - an adviser will fill in the ESA1 claim form for you during the call
				li by filling in an #[a ESA1 form] and giving it to your #[a local Jobcentre] or posting it to the DWP

			p You can’t send your claim online.

			p Most people apply on the phone - you can get your first ESA payment more quickly if you apply this way. The phone call usually lasts between 20 and 30 minutes.

			h2 Information you need to hand

			p Whichever way you apply, you’ll need to provide information including:
			ul
				li your National Insurance number
				li what your illness or disability is
				li your doctor’s contact details
				li work you’re doing or details of benefits that you get
				li rent or mortgage details for where you live
				li any savings or investments you’ve got, or other money coming in (like benefits or child maintenance)
				li bank account details for where you want ESA paid

			.callout
				h3 Worth remembering
				p You could be entitled to either or both contribution-based ESA and income-related ESA. If you could be eligible for both, make sure you fill in both parts of the ESA claim form giving your details and those of your partner (if you have a partner), so that you can be considered for both parts of ESA.

			.collapse.collapsible
				.collapse-toggle I want to apply by phone
				.collapse-content
					h3 ESA phone number for new claims

					p 
						strong ESA helpline
						br
						| Telephone: 0800 055 6688
						br
						| Textphone: 0800 023 4888
						br
						| Welsh language telephone: 0800 012 1888
						br
						| Open Monday to Friday from 8am to 6pm

					h3 After your phone call

					p The DWP will send you a statement confirming all the details you’ve given them. They’ll also send you a pre-paid envelope for you to send back any other documents that they’ve asked for, eg medical certificates, savings account statements

					p You must send back anything they’ve asked for within a month of calling them. If you don’t, your claim will be stopped and you’ll need to start the application process again. Keep copies for yourself and send by recorded delivery if you can.

					p If you’ve missed or are about to miss your deadline, #[a contact your local Citizens Advice]. They might be able to help you if the form’s late for what the DWP would consider is a good reason, eg if you've been ill or your doctor’s been unavailable.
					
					.callout
						strong Get confirmation your documents have arrived

						p Put your mobile phone number on the top right-hand corner of your fit note when you send it to DWP. If you do, they’ll text you to confirm they’ve got it.

					a.collapse-toggle-close Close

			.collapse.collapsible
				.collapse-toggle I want to apply in writing
				.collapse-content
					h3 Get the claim form

					p You can #[a download a copy of the ESA1 form]. 

					p Or you can phone and ask for a copy of the form to be posted to you. If you phone to ask for a form, you must send it back within a month of your original phone call.

					p 
						strong ESA helpline
						| Telephone: 0800 055 6688
						br
						| Textphone: 0800 023 4888
						br
						| Welsh language telephone: 0800 012 1888
						br
						| Open Monday to Friday from 8am to 6pm

					h3 Send the claim form

					p The form tells you what other documents you need to send. There’s a checklist in Part 24 so you can make sure you’ve included everything you need to.

					p Send the form and as many of the documents as you have straight away. If you're waiting to get other important documents from, for example, other healthcare professionals, you can send these as you get them.

					p You have up to a month after the DWP gets your form to send any other documents they ask for. If you miss this deadline, your application will be cancelled and you’ll have to start again.

					p If you’ve missed or are about to miss your deadline, #[a contact your local Citizens Advice]. They might be able to help you if the form’s late for what the DWP would consider is a good reason. This will only be something like if you’ve been ill, or your doctor’s been unavailable.

					.callout
						strong Get confirmation your documents have arrived

						p Put your mobile phone number on the top right-hand corner of your fit note when you send it to DWP. If you do, they’ll text you to confirm they’ve got it.

					a.collapse-toggle-close Close

			.callout--related
				h3 What happens next

				p After you’ve submitted your claim form, the DWP will either:
				ul
					li decide that you're not eligible for ESA
					li send you a questionnaire (ESA50) to fill in which asks more detailed questions about your health and ability 
					li decide from your ESA1 form that you are not fit to work (have ‘limited capability for work’) and so can get ESA (this rarely happens - most people have to fill in the ESA50 form)
				
				h3 Prepare for the next steps

				p
					a Filling in the ESA50 form about your health and ability

				p
					a What to do if you're not awarded ESA

	#simpleModal.modal
			.extent-country-select
					form
						h2 Advice can vary depending on where you live
							fieldset
								label(for="exampleInputFile") Where do you live?
								label.radio
									input(type="radio", name="radio", value="?lang=en-GB", checked)
									| England
								label.radio
									input(type="radio", name="radio", value="?lang=en-SCT")
									| Scotland
								label.radio
									input(type="radio", name="radio", value="?lang=en-WLS")
									| Wales
								label.radio
									input(type="radio", name="radio", value="?lang=en-WLS")
									| Cmyru
								label.radio.radio--outline
									input(type="radio", name="radio", value="?lang=cy")
									| Northern Ireland
							button#closeSimple.btn.btn-primary.right-button-icon(type="submit") Continue

	script.
		$(document).ready(function(){
			$("#showSimpleModal").click(function() {
				$("div#simpleModal").addClass("show");
				return false;
			});
			$("#closeSimple").click(function() {
				$("div#simpleModal").removeClass("show");
				return false;
			});
		});
		//close modal when clicking the esc keyboard button
		$(document).keyup(function(event){
			if(event.which=='27'){
				$("div#simpleModal").removeClass('show');
			}
		});