block settings
	- var title = "Getting your ESA decision after the assessment"
	- var sidebar = true
	- var toolbars = true
	- var mockup = true

extends ../template/template.jade

block breadcrumbs
	+breadcrumbs([
		{title: "Home", href: "./"}, 
		{title: "Benefits", href: "./"},
		{title: "ESA", href: "./"}, 
		{title: "Help with your ESA claim", href: "./"}, 
		{title: "Getting your ESA decision after the assessment"}])

block sidebar
	- var section = "Help with your ESA claim"
	+sidebar([
		{title: "Claiming ESA (filling in the ESA1 form)", href: "claiming-esa.html"},
		{title: "Filling in the ESA50 form about your health and ability", href: "filling-in-esa50.html"},
		{title: "Preparing for your ESA medical assessment", href: "preparing-esa.html"},
		{title: "Getting your ESA decision after the assessment", href: "esa-decision.html"},
		{title: "What to do if you're not awarded ESA", href: "not-awarded-esa.html"}
		],3)

block section-notice
	aside.section-notice
		h2.screenreader Notice
		.section-notice__content
			p #[span.badge NEW] This page is part of #[a(href="#") our new approach to digital advice].
				
block content
	.articleContent
		div
			p After your assessment, someone from the Department for Work and Pensions (DWP) will look at the recommendation made by the assessor and use it to decide if you can get ESA.

			p If you’re going to get ESA, you’ll be put into one of these 2 groups:
			ul
				li the work-related activity group (WRAG) - this means that to keep getting ESA, you’ll have to do work-related activity like go to meetings with work advisers or group sessions to help improve your chances of getting work in future
				li the support group - this means you won’t have to do any work-related activity to keep getting your ESA

			p You’ll get this information when the DWP writes to you with the result of your claim. This is called a decision letter.

			p You can #[a find out more about the two groups and what to do if you think you’ve been put into the wrong group].

			h2 ESA rates after getting your decision

			p Once you’ve been assessed, your ESA payment should increase from the assessment rate to the full rate. There are different rates of ESA, depending on:
			ul
				li which group you’re put into
				li whether you get income-related ESA and qualify for an additional premium

			table(style="width:100%")
				thead
					tr
						th ESA groups and amounts paid
						th Contribution-based ESA
						th Income-related ESA
				tbody
					tr
						td Support group
						td £109.30	
						td up to £109.30
					tr
						td Work-related activity group
						td £102.15
						td up to £102.15

			p Read more about #[a ESA rates and premiums].

			h2 How long you get ESA for

			p If you’re in the work-related activity group and get contribution-based ESA, you’ll only get it for up to a year. When you’re almost at the end of the year, you’ll be sent an ESA3 form to fill in to see if you can be moved onto income-related ESA instead. If your disability or illness gets worse and you would qualify for the support group, you can reclaim contributory ESA.

			p If you’re in the support group or getting income-related ESA, your claim will be ongoing. Your ability to work will be re-assessed every 1, 2 or 3 years to make sure you’re still not fit to work.

			p #[a Find out more about the ESA groups].

			h2 If you disagree with the DWP's decision

			p If you disagree with the decision in your letter, you can ask for it to be looked at again. This is called a ‘mandatory reconsideration’. You need to ask for this within a month of getting your decision letter. If you miss the deadline, you can make a late request, but you have to show that you had a good reason for being late.

			p We can help you understand what a #[a mandatory reconsideration is and how to ask for one].

			.callout--related
				h3 Next steps
				p
					a Appeal the decision
					br
					a Report changes in circumstances
					br
					a What to do if you get sanctioned
					br
					a More about the support group and work-related activity group

	#simpleModal.modal
			.extent-country-select
					form
						h2 Advice can vary depending on where you live
							fieldset
								label(for="exampleInputFile") Where do you live?
								label.radio
									input(type="radio", name="radio", value="?lang=en-GB", checked)
									| England
								label.radio
									input(type="radio", name="radio", value="?lang=en-SCT")
									| Scotland
								label.radio
									input(type="radio", name="radio", value="?lang=en-WLS")
									| Wales
								label.radio
									input(type="radio", name="radio", value="?lang=en-WLS")
									| Cmyru
								label.radio.radio--outline
									input(type="radio", name="radio", value="?lang=cy")
									| Northern Ireland
							button#closeSimple.btn.btn-primary.right-button-icon(type="submit") Continue

	script.
		$(document).ready(function(){
			$("#showSimpleModal").click(function() {
				$("div#simpleModal").addClass("show");
				return false;
			});
			$("#closeSimple").click(function() {
				$("div#simpleModal").removeClass("show");
				return false;
			});
		});
		//close modal when clicking the esc keyboard button
		$(document).keyup(function(event){
			if(event.which=='27'){
				$("div#simpleModal").removeClass('show');
			}
		});