block settings
	- var title = "Preparing for your ESA medical assessment"
	- var sidebar = true
	- var toolbars = true
	- var mockup = true

extends ../template/template.jade

block breadcrumbs
	+breadcrumbs([
		{title: "Home", href: "./"}, 
		{title: "Benefits", href: "./"},
		{title: "ESA", href: "./"}, 
		{title: "Help with your ESA claim", href: "./"}, 
		{title: "Preparing for your ESA medical assessment"}])

block sidebar
	- var section = "Help with your ESA claim"
	+sidebar([
		{title: "Claiming ESA (filling in the ESA1 form)", href: "claiming-esa.html"},
		{title: "Filling in the ESA50 form about your health and ability", href: "filling-in-esa50.html"},
		{title: "Preparing for your ESA medical assessment", href: "preparing-esa.html"},
		{title: "Getting your ESA decision after the assessment", href: "esa-decision.html"},
		{title: "What to do if you're not awarded ESA", href: "not-awarded-esa.html"}
		],2)

block section-notice
	aside.section-notice
		h2.screenreader Notice
		.section-notice__content
			p #[span.badge NEW] This page is part of #[a(href="#") our new approach to digital advice].
				
block content
	.articleContent
		div
			p Most people, after submitting the ESA50 form, will be asked to go for a medical assessment, called a ‘Work Capability Assessment’. The assessments are carried out by the Health Assessment Advisory Service.

			p The service will phone you to arrange a date and time for the assessment. If you’d rather be contacted in a different way, you can let the Health Assessment Advisory Service know by emailing them, or you can get someone else to call them for you and let them know you’d prefer to be emailed.

			p Email: customer-relations@chdauk.co.uk
				br
				| Telephone: 0800 288 8777

			p When they contact you, the service will also tell you which of their centres you need to go to for your assessment.

			.callout
				h3 Worth remembering
				
				p If your illness or disability makes it difficult or impossible for you to travel to an assessment, you can ask for the assessment to be done at home instead. Tell the Health Assessment Advisory Service when they call – they’ll ask you to provide information from your doctor, or other medical professional, to explain why you can’t travel.

			h2 Arrange your medical assessment

			p Check with the Health Assessment Advisory Service that the centre you’re going to has got everything you need. If it hasn’t, you can ask for it.

			p For example, you can:
			ul
				li ask for any special type of chair you need to sit on (while you’re waiting for and during your assessment) - make sure they will have one there
				li check whether you’ll have to go up stairs, or whether they’ve got a lift you can get your wheelchair into
				li ask them how roomy the assessment centre is if you get anxious in enclosed spaces - if the rooms or corridors are small, tell them this could make you anxious and see what they can offer you
				li ask for an interpreter or signer if you need one - you need to ask for one at least two days before your assessment so they can make sure that one’s available
				li ask for the person carrying out the assessment to be the same gender as you, if that’s important to you

			p To ask for any of these things, or anything else you need, call the customer relations team.

			p Telephone: 0800 288 8777
				br
				| Monday to Friday
				br
				| Open 9am to 5pm

			.callout
				h3 Worth remembering
				p If you think the assessment centre can’t give you what you need, you can get help from your local Citizens Advice.

			p You can take someone with you to the assessment and into the assessment room with you, if you want to. This could be someone who makes you feel more comfortable and can give you support while the assessment is happening, like a friend, relative or carer.

			.callout--warning
				h3 Warning
				p You must go to your assessment. If you don’t go, the DWP will assume that you’re fit for work and stop your claim. If you need to postpone it because you’re not well enough to go, make sure you call before the appointment.

				p Telephone: 0800 288 8777
					br
					| Monday to Friday
					br
					| Open 9am to 5pm

			h2 Travel expenses - what you can get back

			p You can get travel costs paid back into your bank account. Bring the details with you to the assessment and the receptionist will help you fill in a claim form.

			p You can also get back the fares of anyone who needs to come with you. If you want to claim expenses for someone else to travel with you, let the Health Assessment Advisory Service know.

			p Telephone: 0800 288 8777
				br
				| Monday to Friday
				br
				| Open 9am to 5pm

			h3 Public transport

			p Make sure you keep any tickets or receipts.

			h3 By car

			p You can claim back your fuel costs. The rate is 25p per mile. You can also get back any parking costs.

			h3 By taxi

			p If you can only travel by taxi, you need to telephone before the assessment on 0800 288 8777 to let the Health Assessment Advisory Service know. They’ll then get a healthcare professional to consider your request and will let you know if they’ll cover your taxi fare.

			.callout--warning
				h3 Warning
				p If you don’t get agreement before your assessment that the Health Assessment Advisory Service will pay your taxi fare, they’ll only pay back what you would have paid on public transport.

			h2 Get ready for your medical assessment

			p There are a few things you can do before your assessment that might make it feel less stressful on the day.

			p Think about how your illness or disability affects you - particularly on bad days. You’ll have already mentioned lots of these things when you filled in the ESA50 form, but it will really help if you’re ready to talk about:
			ul
				li the kind of things you have difficulty with, or can’t do at all - for example, walking up steps without help, or remembering to go to appointments
				li what a usual day is like for you - how your condition affects you from day to day
				li what a bad day is like for you - eg, ‘On a bad day, I can’t walk at all because my injured leg hurts so much’ or ‘On a bad day, I’m so depressed I can’t concentrate on anything’

			.callout
				h3 Worth remembering
				p You can write out a list of all these things and take it into the assessment with you. It’s fine to check it during the assessment if you’re worried about remembering things you want to say.

			h3 What to take with you

			p You’ll need to take identification with you to your assessment. A passport is usually best. If you don’t have a passport, you need to take along 2 different types of identification. For example your:
			ul
				li your birth certificate
				li your full driving licence
				li a recent bank statement that shows your name and address
				li a gas or electricity bill

			p You should also have with you:
			ul
				li any pills or medication you need
				li any aids and appliances that you use like glasses, hearing aids or a walking stick

			p If you made and kept a copy of your ESA50 form, you can take this into the assessment if you want to. This will help you make sure you tell the assessor everything about your condition and don’t miss anything out.

			.callout
				h3 Worth remembering
				p You can bring a friend or family member with you and take them into the actual assessment with you for support if you want to. They can also tell the assessor things for you if you find it difficult.

				p You can also ask for your assessment to be be recorded or for someone to go in with you to make notes. Call 0800 288 8777 before the assessment to let the Health Assessment Advisory Service know.

			h2 What happens at your medical assessment

			p An independent medically qualified assessor (sometimes called a healthcare professional) will check how your illness or disability affects your ability to work. They use the information you've given on your ESA50 form and also draw opinions and make assumptions from what you do on the day.

			p For example, they might ask you how you got to the assessment centre. If you say you came on the bus, they’ll make a note that you can travel alone on public transport.

			p Or, if you say you go shopping in a supermarket they may assume you can walk around the supermarket unless you make it clear that you can't or need help.

			p Or they could ask how long you’ve been sitting in the waiting room before the assessment. If you say ’half an hour’, they’ll make a note that you can sit on an ordinary chair for at least 30 minutes. In this example, it could be helpful to explain further if relevant, eg that you waited half an hour but had to walk around etc because I couldn't sit for that long.

			.callout
				h3 Worth remembering
				p Don’t feel you have to do things in the assessment that you wouldn’t normally be able to do. If you do them on assessment day, the assessor may think you can always do them. If you’re not comfortable with anything - say so.

			p You might be asked to carry out some physical tasks during the assessment. The assessor might also examine you in a similar way that a doctor would.

			p They’ll talk to you about the things you’ve said on your ESA50 form - you’ll be able to check back to the answers you gave on the form if you’ve taken your copy with you. You can explain these again to the assessor and you can also give other examples of things you find difficult.

			h2 Tips for your medical assessment

			p Do:
			ul
				li tell the assessor everything you can that’s relevant to your illness, health condition or disability, even if it’s already on your form
				li back up what you’ve said on the ESA50 form with any evidence you can, like a doctor’s letter or examples of things that have happened to you
				li ask for any help you need - it can make the assessment less stressful

			p Don’t:
			ul
				li exaggerate or lie about your condition
				li feel you have to do anything you normally wouldn’t be able to do
				li expect the assessor to be 'on your side' - they’re there to ask questions, not to make sure you get ESA

			p The assessor doesn’t make the decision about your ESA - they make a recommendation to the DWP after your assessment. At your assessment, they won’t be able to tell you what they’re going to recommend.

			p You can get a copy of your assessment report by asking the DWP office that’s looking after your claim. The phone number will be on any letters you’ve had from them about your ESA claim.

			p After your assessment, a decision maker from the DWP will look at the recommendation made by the assessor and use this to decide if you can get ESA.

			.callout--related
				h3 Next steps
				p 
					a Getting your ESA decision

	#simpleModal.modal
			.extent-country-select
					form
						h2 Advice can vary depending on where you live
							fieldset
								label(for="exampleInputFile") Where do you live?
								label.radio
									input(type="radio", name="radio", value="?lang=en-GB", checked)
									| England
								label.radio
									input(type="radio", name="radio", value="?lang=en-SCT")
									| Scotland
								label.radio
									input(type="radio", name="radio", value="?lang=en-WLS")
									| Wales
								label.radio
									input(type="radio", name="radio", value="?lang=en-WLS")
									| Cmyru
								label.radio.radio--outline
									input(type="radio", name="radio", value="?lang=cy")
									| Northern Ireland
							button#closeSimple.btn.btn-primary.right-button-icon(type="submit") Continue

	script.
		$(document).ready(function(){
			$("#showSimpleModal").click(function() {
				$("div#simpleModal").addClass("show");
				return false;
			});
			$("#closeSimple").click(function() {
				$("div#simpleModal").removeClass("show");
				return false;
			});
		});
		//close modal when clicking the esc keyboard button
		$(document).keyup(function(event){
			if(event.which=='27'){
				$("div#simpleModal").removeClass('show');
			}
		});